$table-even-background: #e8f2f9;

$red: #ed1c24; // Intel red
$orange: #FFA300; // Intel orange
$yellow: #F3D54E; // Intel yellow

$blue: #0071c5; // Intel blue
$dark-blue: #003C71; // Intel dark blue
$light-blue: #00aeef; // Intel light blue
$pale-blue: #7ed3f7; // Intel pale blue

$green: #C4D600; // Intel green

$light-gray: #b1babf; // no change
$gray: #939598; // no change
$dark-gray: #53565a; // no change 


$white: #ffffff;
$black: #000000;

$light-red: #ff6450;
$dark-red: #931c1a;
$hover-red: $light-red;
$tapped-red: $dark-red;

$lighter-blue: $pale-blue;
$hover-blue: $light-blue;
$tapped-blue: $dark-blue;

$lighter-gray1: #f7f8f9;
$lighter-gray2: #edeff0;
$lighter-gray3: #e1e5e7;
$lighter-gray: $lighter-gray2;
$darker-gray: #333;
$darkest-gray: #111;
$hover-gray: $lighter-gray;
$tapped-gray: $light-gray;
$muted-green: #a6ce39;
$muted-yogurt: #d8aee5;
