@import '../colors.scss';

$button-info-width: 400px;
$button-info-height: 80px;

@mixin defaultTransition() {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#lrp-landing {
    margin-top: 150px;

    .card {
        box-shadow: 2px 2px 8px #c6c3c3;
    }

    a {
        margin-bottom: 10px;
        height: $button-info-height;
        overflow: hidden;
        color: #337ab7;
        @include defaultTransition();

        .button-description {
            width: $button-info-width;
            height: $button-info-height;
            padding-top: 10px;
            font-size: 30px;
            position: relative;
            left: -1 *$button-info-width/2;
            overflow: hidden;

            @include defaultTransition();
        }

        .button-details {
            height: $button-info-height;
        }


        &:hover .button-description {
            margin-top: -1*$button-info-height + 20;
            overflow: hidden;
        }
    }
}




@import '../colors.scss';

body {
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.big-title {
    font-size: 28px;
}

.wizard-title {
    font-size: 20px;
}


.environment {
    color: red;
    font-family: cursive;
    font-weight: bold;
    font-size: 24px;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: relative;
    margin-top: -20px;
    margin-left: 100px;
}

.menu-button {
    min-width: 200px;
    margin-top: 10px;
}


.menu-header {
    font-weight: bold;
    font-size: 24px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #ed1c1a;
}

.circle {
    border-radius: 50%;
    background-color: #a6ce39;
    width: 50px;
    height: 50px;
}

.bigFrogBox {
    position: relative;
    width: 100px;
    height: 100px;
}

.frog {
    position: relative;
    width: 10%;
    height: 10%;
    overflow: hidden;
}

.bigFrog {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.adders {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
}

.bigPlus {
    font-size: 36px;
    height: 100%;
    width: 100%;
    color: black;
    position: absolute;
    text-align: center;
    margin-top: 40px;
}

.grass {
    //color: rgba(255, 255, 255, 0.7);
    min-height: 1000px;
    padding: 50px;
    margin: 50px;
    font-size: 16px;
}

.lake {
    background-color: #1f5768;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-height: 500px;
    overflow-y:scroll;
}



.square {
    background-color: #0071c5;
    width: 50px;
    height: 50px;
}

.rectangle {
    background-color: #00aeef;
    width: 600px;
    height: 200px;
}

.super-container {
    width: 600px;
    height: 2000px;
}

.positioning-label {
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 24px;
}


.recMenu {
    border-style: solid;
    border-width: 5px;
    border-color: #00aeef;
    height: 200px;
    width: 600px;
    margin-left: 15px;
}

.recMenu {
    border-style: solid;
    border-width: 5px;
    border-color: #00aeef;
    height: 200px;
    width: 600px;
    margin-left: 15px;
}

.codeMenu {
    border-style: solid;
    border-width: 5px;
    border-color: #00aeef;
    height: 200px;
    width: 400px;
    margin-left: 15px;
}


.options-group {
    margin-left: 170px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.static {
    position: static;
}

.relative {
    position: relative;
}

.selected {
    background-color: #b1babf !important;
}

.panel-shadow {
    box-shadow: 2px 2px 8px #c6c3c3;
}

.concur-button {
    margin-bottom: 10px;
    height: 80px;
    overflow: hidden;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.concur-little-button {
    margin-bottom: 10px;
    height: 60px;
    overflow: hidden;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button-description {
    width: 280px;
    height: 80px;
    padding-top: 10px;
    font-size: 30px;
    position: relative;
    left: -140px;
    overflow: hidden;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button-little-description {
    width: 280px;
    height: 80px;
    padding-top: 20px;
    font-size: 20px;
    position: relative;
    left: -115px;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.btn-intel {
    border: 1px;
    border-color: #b1babf;
    border-style: solid;
}

.button-details {
    height: 80px;
    overflow: auto;
}

a:hover .button-description {
    margin-top: -60px;
    overflow: hidden;
}

a:hover .button-little-description {
    margin-top: -60px;
    overflow: hidden;
}

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li {
    width: 49%;
}

ol.progtrckr[data-progtrckr-steps="3"] li {
    width: 33%;
}

ol.progtrckr[data-progtrckr-steps="4"] li {
    width: 24%;
}

ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 19%;
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%;
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%;
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%;
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
    color: #005da1;
    border-bottom: 4px solid #005da1;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}

ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}

ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

ol.progtrckr li.progtrckr-doing:before {
    content: "\039F";
    color: #005da1;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

.bigButton {
    width: 150px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
}

.hugeButton {
    margin-left: 15px;
}

.bottom {
    position: absolute;
    bottom: 100px;
    left: 1200px;
}

.topSpace {
    position: absolute;
    top: 250px;
    left: 400px;
}

.moneyUnderline {
    border-bottom: 2px solid green;
    font-size: 20px;
    color: #c6c3c3;
}

.long-input {
    min-width: 620px;
}

.money {
    font-size: 30px;
    padding-left: 35px;
    font-weight: bold;
    color: green;
}


.summary {
    font-size: 20px;
    padding-left: 35px;
}

.bardivider {
    position: absolute;
    left: 37%;
    top: 30%;
    bottom: 10%;
    border-left: 1px solid black;
}

.small-table {
    overflow: auto;
    max-height: 360px;
}

.addButton {
    margin-left: 18px;
}


#content {
    margin-right: 17%;
}

#navbar {
    float: right;
    width: 15%;
}

.landingPanel {
    margin-top: 80px;
}

.bigIcon {
    font-size: 125px;
}

a .table th, .table td {
    border-top: none !important;
}

.menu-small-option {
    max-width: 130px;
    min-width: 130px;
    word-break: break-all;
}


.menu-big-option {
    max-width: 260px;
    min-width: 260px;
    word-break: break-all;
}

.menu-text-small {
    font-size: 12px;
}

.menu-text-big {
    font-size: 20px;
    font-weight: bold;
}

.animate-twice {
    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

.animate-ten {
    -webkit-animation-iteration-count: 10;
    -moz-animation-iteration-count: 10;
    -o-animation-iteration-count: 10;
    animation-iteration-count: 10;
}
